@charset "UTF-8";
html {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth; }

.img-palestrante1 {
  background-image: url("../img/palestrantes/Dr._José_Espiño_-_Editado.JPG.jpg");
  width: 100%;
  height: 218px;
  background-size: cover;
  margin-bottom: 10px;
  background-position: center top; }

.img-palestrante2 {
  background-image: url("../img/palestrantes/ligia-fascioni-01.jpg");
  width: 100%;
  height: 218px;
  background-size: cover;
  margin-bottom: 10px;
  background-position: center top; }

.img-palestrante3 {
  background-image: url("../img/palestrantes/Martha_Regina_Oliveira.jpg");
  width: 100%;
  height: 218px;
  background-size: cover;
  margin-bottom: 10px;
  background-position: center top; }

.img-palestrante4 {
  background-image: url("../img/palestrantes/Cristina_Mizoi.JPG.jpg");
  width: 100%;
  height: 218px;
  background-size: cover;
  margin-bottom: 10px;
  background-position: center top; }

.img-palestrante5 {
  background-image: url("../img/medico.jpg");
  width: 100%;
  height: 218px;
  background-size: cover;
  margin-bottom: 10px;
  background-position: center top; }

.img-palestrante6 {
  background-image: url("../img/palestrantes/Solange_Mata_Machado.jpg");
  width: 100%;
  height: 218px;
  background-size: cover;
  margin-bottom: 10px;
  background-position: center top; }

.img-palestrante7 {
  background-image: url("../img/palestrantes/denise-fraga.jpg");
  width: 100%;
  height: 218px;
  background-size: cover;
  margin-bottom: 10px;
  background-position: center top; }

.img-palestrante8 {
  background-image: url("../img/palestrantes/marta-passo.jpg");
  width: 100%;
  height: 218px;
  background-size: cover;
  margin-bottom: 10px;
  background-position: center top; }

.img-palestrante9 {
  background-image: url("../img/palestrantes/Eduardo_Cordioli.png");
  width: 100%;
  height: 218px;
  margin-bottom: 10px;
  background-position: center top; }

.img-palestrante10 {
  background-image: url("../img/palestrantes/ana-rosa-humia.jpeg.jpg");
  width: 100%;
  height: 218px;
  background-size: cover;
  margin-bottom: 10px;
  background-position: center top; }

.img-palestrante11 {
  background-image: url("../img/medico.jpg");
  width: 100%;
  height: 218px;
  background-size: cover;
  margin-bottom: 10px;
  background-position: center top; }

.logo {
  margin-top: 30px; }

i.fa.fa-bars {
  color: #169763; }

i.fa.fa-times {
  color: #169763; }

.menu {
  position: fixed;
  background: rgba(164, 164, 163, 0.9);
  height: 100%;
  z-index: 100;
  overflow-x: hidden;
  transition: 0.1s;
  overflow-y: hidden; }

.ul:before {
  position: absolute;
  display: block;
  content: "";
  width: 32px;
  height: 216px;
  border-left: 1px solid;
  color: #fff;
  margin-top: 4px;
  left: 49px; }

.li {
  list-style-type: none; }
  .li:before {
    position: absolute;
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    border: 1px solid;
    color: #fff;
    margin-top: 4px;
    border-radius: 100%;
    background-color: #a4a4a4; }

.active::before {
  background-color: #169763; }

.active a {
  color: #169763; }

span.icon {
  font-size: 42px;
  position: fixed;
  z-index: 1000;
  overflow-x: hidden;
  transition: 0.5s;
  background-color: #fff;
  display: block;
  height: 68px;
  width: 70px;
  text-align: center;
  border-radius: 100%;
  margin-top: 10px;
  box-shadow: 0px 2px 5px #00000047; }

.menu-item {
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0px 0px 0px 20%; }
  .menu-item:hover {
    text-decoration: none;
    color: #169763; }

.nav__copyright {
  color: #ffff;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin-top: 15%; }

.home {
  background: no-repeat;
  background-image: url("../img/home-background.png");
  background-size: cover;
  height: 100vh;
  background-position: center top; }

.card--home {
  background-color: #236a50;
  border-radius: 0px 0px 82% 0px;
  max-width: 100%;
  height: 380px;
  padding: 5vh 5vh; }

.card--home__text {
  font-size: 72px;
  color: #fff;
  text-transform: uppercase;
  line-height: 60px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  width: 450px; }

.apresentacao__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #236a50;
  font-size: 16px;
  letter-spacing: 15px;
  margin: 0; }

.apresentacao__title-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #236a50;
  font-size: 42px;
  letter-spacing: 1px;
  padding: 15px 0px; }

.apresentacao__paragraph {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding: 20px 0px; }

.apresentacao-details {
  padding-top: 10%; }

.apresentacao__img {
  padding: 5vh; }

.apresentacao__title-hr {
  height: 6px;
  background-color: #236a50;
  width: 56%;
  float: left;
  margin: 0;
  border: 0; }
  .apresentacao__title-hr:before {
    content: "";
    height: 5px;
    background-color: #169763;
    width: 50%;
    float: right; }

.apresentacao__button {
  background-color: #169763;
  border: 0;
  color: #fff;
  text-transform: uppercase;
  padding: 1vh;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  border-radius: 0px 15px;
  margin: 10% 0px;
  width: 350px;
  height: auto; }
  .apresentacao__button:hover {
    background-color: #236a50; }

.palestrantes__button {
  background-color: #169763;
  border: 0;
  color: #fff;
  text-transform: uppercase;
  padding: 10px;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  border-radius: 0px 15px;
  width: 350px;
  height: auto; }
  .palestrantes__button:hover {
    background-color: #236a50; }

.nav__register-button {
  font-family: 'Montserrat', sans-serif;
  background-color: #169763;
  border: 0;
  color: #fff;
  text-transform: uppercase;
  padding: 1vh;
  font-size: 24px;
  font-weight: 700;
  border-radius: 0px 15px;
  width: 250px;
  height: auto; }
  .nav__register-button:hover {
    background-color: #236a50; }

.apresentacao__line {
  height: 84%;
  width: 100%;
  border-left: 2px solid #236a50;
  border-bottom: 2px solid #236a50;
  border-radius: 0px 50%;
  position: absolute;
  left: 43%;
  z-index: -2; }

.green {
  background-color: #236a50;
  padding: 10% 20%; }

.evento__background-image {
  background-image: url("../img/FOTO_003.png");
  height: 100%;
  background-size: cover;
  background-position: center top; }

.evento__title {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700; }

hr.evento__title-hr {
  margin: 0;
  width: 162px;
  height: 5px;
  background-color: #169763;
  float: left;
  border: 0;
  position: absolute; }
  hr.evento__title-hr:before {
    content: "";
    height: 5px;
    background-color: #a4a4a4;
    width: 50%;
    float: right; }

.evento__subtitle {
  color: #169763;
  text-transform: uppercase;
  font-size: 34px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700; }

p.evento__subtitle-text {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300; }

.evento__details {
  padding: 8% 0px 4% 0px; }

#evento__site {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px; }

.evento__button {
  background-color: #169763;
  border: 0;
  color: #fff;
  text-transform: uppercase;
  padding: 1vh;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  border-radius: 0px 15px;
  margin: 10% 0px;
  width: 350px;
  height: auto; }
  .evento__button:hover {
    background-color: #ffff;
    color: #169763; }

.padding {
  padding: 0; }

.evento__line {
  margin-left: 35%;
  height: 21%;
  width: 100%;
  border-left: 2px solid #a4a4a4;
  border-top: 2px solid #a4a4a4;
  border-radius: 100% 0px;
  z-index: -2; }

.btn.focus, .btn:focus {
  box-shadow: none !important;
  outline: unset !important; }

.container.palestrantes {
  padding: 10% 0px; }

.img-fluid.palestrantes-img {
  width: 250px;
  height: auto;
  margin-bottom: 16px; }

.palestrantes__div {
  width: 50%;
  margin: 0.5%;
  display: inline-block;
  padding-left: 1rem; }

.palestrante-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #236a50; }

.palestrante-locale {
  font-family: 'Montserrat', sans-serif;
  color: #236a50;
  font-weight: 200;
  font-size: 14px;
  letter-spacing: -1px; }

.carousel-indicators .active {
  color: #fff;
  background-color: #169763 !important;
  width: 80px;
  border-radius: 0;
  padding: 2px; }

.carousel-indicators li {
  color: #fff;
  background-color: #a4a4a4 !important;
  width: 80px;
  border-radius: 0;
  padding: 2px;
  margin: 20px; }

.carousel-indicators {
  position: relative; }

.dropdown {
  background-color: #a4a4a4;
  width: 100%;
  text-align: left;
  border-radius: 10px !important; }

.fa-plus {
  float: right;
  padding: 8px; }

.card-body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #a4a4a4;
  font-size: 24px;
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 10px;
  margin: 10px 0px; }

.text_accordeon {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  text-align: left; }

.background-programacao {
  background-color: #fbf5f5; }

.card-text {
  font-size: 16px;
  text-transform: initial;
  color: #000;
  font-family: 300; }

.card-name {
  font-weight: 700;
  font-size: 16px;
  text-transform: initial;
  color: #000; }

.card {
  margin: 10px 0px; }

.programacao__button {
  background-color: #169763;
  border: 0;
  color: #fff;
  text-transform: uppercase;
  padding: 1vh;
  font-size: 24px;
  font-weight: 700;
  border-radius: 0px 15px;
  margin: 10% 0px;
  width: 350px;
  height: auto; }
  .programacao__button:hover {
    background-color: #236a50; }

@media (min-width: 350px) and (max-width: 767.98px) {
  .green {
    padding: 6%; }
  .img-palestrante5 {
    margin-bottom: 12px; }
  .fa-plus {
    float: right;
    padding: 2px; }
  .card--home {
    border-radius: 0px 0px 73% 0px;
    width: 71vw;
    height: 38vh;
    padding: 12% 0px 0px 37px; }
  .card--home__text {
    font-size: 47px;
    line-height: 46px;
    width: 80vw; }
  .palestrantes__button {
    font-size: 22px;
    margin: 0;
    width: 300px; }
  .apresentacao__button {
    font-size: 22px;
    width: 300px; }
  .evento__button {
    font-size: 22px;
    padding: 10px 10px;
    width: 300px; }
  .programacao__button {
    font-size: 22px;
    width: 300px; }
  .apresentacao__title-text {
    font-size: 35px; }
  .apresentacao__title-hr {
    width: 80%; }
  .apresentacao__title {
    letter-spacing: 12px; }
  .apresentacao__line {
    height: 80%;
    width: 50%;
    border-radius: 0 62%; }
  .palestrantes__div {
    margin: 10px;
    width: 40vw; }
  hr.evento__title-hr {
    width: 45%; }
  .text_accordeon {
    font-size: 24px; }
  .container.palestrantes {
    padding: 10% 15px; }
  .card-body {
    font-family: 700;
    font-size: 18px; }
  .card-text {
    font-size: 14px; }
  .card-name {
    font-size: 14px; }
  .card-header {
    padding: 0.25rem 1.25rem; }
  span.icon {
    margin-top: 25px; }
  .card--home {
    margin-top: 78vw; }
  .apresentacao__img {
    max-width: 100%;
    height: auto; }
  .apresentacao__img {
    padding: 10% 10% 10% 0px; }
  .evento__line {
    display: none; }
  .itens {
    margin: 10% 10px; }
  .apresentacao__line {
    height: 84%;
    width: 55%;
    border-left: 2px solid #236a50;
    border-bottom: 2px solid #236a50;
    border-radius: 0px 50%;
    position: absolute;
    left: 43%;
    z-index: -2; }
  .nav-pills .nav-link {
    margin: 5px; }
  .nav__copyright {
    margin: 0; } }

.btn {
  width: 100%; }

@media (min-width: 768px) and (max-width: 991.98px) {
  .palestrantes__div {
    width: 21vw; }
  body {
    overflow-x: hidden; }
  .container.palestrantes {
    padding: 10% 5px; }
  .card--home {
    width: 55vw;
    height: 41vh;
    margin-top: 58vw; }
  .card--home__text {
    font-size: 70px;
    width: 61vw; }
  .apresentacao__line {
    height: 63%;
    width: 50%;
    border-radius: 0px 80%;
    position: absolute;
    left: 43%; }
  .apresentacao__img {
    width: 100%;
    position: relative;
    top: 20%;
    padding: 0px; }
  .evento__line {
    display: none; }
  .evento__button {
    border: 0;
    padding: 13px 4px;
    font-size: 18px;
    width: 250px;
    border-radius: 0px 15px;
    margin: 10% 0px; }
  .evento__subtitle {
    font-size: 26px; }
  .palestrantes__div {
    width: 22vw;
    float: left;
    margin: 0.5%; }
  span.icon {
    margin-top: 40px; } }
